*.iml
.gradle
/local.properties

# IntelliJ / Android Studio
/.idea/
/.idea/**
/.kotlin/

# macOS
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# Logs
*.log
*.txt

# Signing keystores
*.jks
*.keystore
*.b64
